---
---

@import "{{ site.theme }}";

html * {
  font-family: ff-clan-web-pro, '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

#header_wrap .inner {
  padding: 15px 10px 15px 10px;

  h1 a {
    color: #FFF;
    text-decoration: none;
  }
}

.inner {
  width: auto;
  max-width: 100%;
}

#main_content_wrap {
  background: #fff;
  padding: 0 4%;
  box-sizing: border-box;
}

#main_content_inner {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;

  nav {
    background: #F0F0EF;
    padding: 50px 36px 0 999px;
    margin: 0 36px 0 -999px;
    max-width: 310px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 0 0 16px;

      li {
        a {
          display: inline-block;
          padding: 11px 11px;
          color: #999;
          font-size: 16px;

          &:hover {
            color: #4db5d9;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }

  #main_content {
    flex: 1;
  }
}
